<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ASADedicatedManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ASADedicatedManager.Properties.Settings>
            <setting name="SelectedLanguageGameUserSettings" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="ServerPath" serializeAs="String">
                <value>C:\ASADedicatedManager</value>
            </setting>
            <setting name="SelectedLanguageGame" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="BattlEye" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RespawnDinos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoWildBabies" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerPlatform" serializeAs="String">
                <value>ALL</value>
            </setting>
            <setting name="ForceAllowCaveFlyers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedIPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SelectedMap" serializeAs="String">
                <value>TheIsland_WP</value>
            </setting>
            <setting name="BackupFilesToKeep" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MapsFile" serializeAs="String">
                <value />
            </setting>
        </ASADedicatedManager.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>